@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --primary-color: #e2d703;
  --secondary-color: #111d1d;
  background-color: var(--secondary-color) !important;

  color: white !important;
}
img {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none !important;
  color: white !important;
  list-style-type: none;
}
p{
  margin-bottom: 0;
}
.secon-font {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
}
.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.nav-link:focus, .nav-link:hover{
  color: var(--primary-color) !important;
}

.headline{
  margin-top: 40px;
  text-align: center;
}
.headline h3{
  font-size: 20px;
  color: var(--primary-color);
}
.headline h2{
  font-size: 36px;
}
.slick-slide .thumb, .slick-slide .number, .slick-slide h3 {
  margin: 0 10px;
}
.slick-slide .thumb img{
  height: 300px;
  width: 100%;
}